.app {
  background: #520081;
  height: 100vh;
  padding: 30px;
}

.todo-list {
  background: #c0c0c0;
  border-radius: 4px;
  max-width: 400px;
  padding: 10px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.02);
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 6px 12px;
}
